# ===============================
#     Authzen Project Config
# ===============================

# Application Info
SPRING_APPLICATION_NAME=authzen

# MySQL Database Configuration
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/authzen
SPRING_DATASOURCE_USERNAME=your_mysql_username
SPRING_DATASOURCE_PASSWORD=your_mysql_password

# Server Port
SERVER_PORT=8080

# JWT
JWT_SECRET=7C@#3fdLk!9FzqPpA8TrVcK2NmXyTzLp
JWT_ACCESS_EXPIRATION=600000     # 10 minutes in ms
JWT_REFRESH_EXPIRATION=604800000 # 7 days in ms

# Email
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=your_smtp_username
MAIL_PASSWORD=your_smtp_password
EMAIL_FROM=noreply@yourdomain.com
RESET_LINK: http://localhost:8080/auth/reset-password?token=

# GitHub token
GITHUB_CLIENT_ID=your_client_id
GITHUB_CLIENT_SECRET=your_client_secret
GITHUB_REDIRECT_URI=http://localhost:8080/oauth/callback

# Admin User
ADMIN_EMAIL=admin@codex.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin@123
